a.pronounced {
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: center;
}

.registration-form .input, .login-form .input {
    display: block;
    margin-bottom: 20px;
}

.address-input {
    width: 50%;
    display: block;
    margin-top: 10%;
    margin-left: 25%;
}

.address-input * {
    width: 100%;
}

.logout-form {
	display: flex;
}

.logout-form div {
	display: flex;
	margin-top: 20px;
	margin-left: auto;
}

.logout-form div p {
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.items ul {
	list-style-type: none;
	padding: 0;
}
