html, body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.app {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
}

.blue {
    background-color: #402BE9;
}

.login {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
