html, body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.app {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
}

.blue {
    background-color: #402BE9;
}

.main-header {
    padding: 10px;
    font-size: 34px;
}

.registration-form {
    padding: 10px;
    margin: 10px;
}

.grid-item {
    padding: 10px;
    margin: 10px;
}

.headers {
    padding: 10px;
    margin: 10px;
}

.login {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 30px;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-link {
    font-size: 10px;
    text-decoration: underline;
}

.buttons {
    padding: 20px;
    text-decoration-color: white;
    margin: 10px;
}

.logo {
    width: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
